<h1>Admin &raquo; Dashboard</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Products</th>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        <%= link_to @products_count, 'admin/products' %>
      </th>      
      <th>
        <%= @categories_count %>
      </th>
    </tr>
  </tbody>
</table>
